
p{
    font-style: normal;
    font-weight: bold;
    font-size: larger;
    color:chartreuse;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.event{
    display: flex;
    justify-content: center;
   
    gap: 50px;
    padding: 10px;
    background-color: cyan;
}
.CC, .robotics, .AI {
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-color: blue;
    background-color: chocolate;

    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery{
    display: grid;
    grid-template-columns: repeat(3,200px);
    gap: 20px;
    justify-content: center;
    object-fit: cover;
}
.gallery{
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-color: rgb(199, 12, 168);
    box-shadow: 20px 20px 20px rosybrown;
}
th{
    background-color: coral;
}
.code, .work{
    background-color: cornflowerblue;
}
.rob{
    background-color: rgb(164, 184, 223);
}
tr:hover{
    background-color: rgb(233, 114, 138);
    transform: scale(1.2);
}
button:hover{
    background-color: chartreuse;
    border-radius: 10px;
    transform: scale(2);
}
button{
    animation-name: button;
    animation-duration: 1s;   
}

footer{
    background-color: cyan;
}
.help{
    width: 80px;
    height: 50px;
    border: 2px solid;
    border-color: red;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    background-color: coral;

    position: fixed;
    bottom: 50px;
    right: 20px;
}

@media(max-width:600px){
    #gallery{
        display: grid;
        grid-template-columns: repeat(1,200px);
    }
    .event{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li{
        display: block;
        list-style: none;
        padding:  0px;
    }
    ul{
         height: auto;
        padding: 0px;
}
    
}
@media(max-width:380px){
    #gallery{
        display: grid;
        grid-template-columns: repeat(1,200px);
    }
    .event{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li{
        display: block;
        list-style: none;   
        font-size: 13px;
    }
    ul{
        height: 10px;
        text-align: center;
}
}
.CC:hover{
    background-image: url(cc\ gif.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(240, 147, 147);
    transform: scale(2);
}
.robotics:hover{
    background-image: url(unitree-g1-run.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
}
.AI:hover{
    background-image: url(ai\ gif.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2);
}
.gallery:hover{
    transform: scale(1.5);
}
h2{
    color: palevioletred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.help:hover{
    transform: rotate(30deg);
}